<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hilen.qrcode</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>24BC098C-FDEB-4620-B336-50A8C6A944FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B62777C-3A5C-4C54-9A04-B18D74466990</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6A7CE8DC-FB3F-4D10-88CC-131ACF4AD8DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24BC098C-FDEB-4620-B336-50A8C6A944FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>72BEA7C5-CF4F-4FDD-BD50-AE8AF221E993</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EE32C0F-DA76-44EF-81A0-4D3645A3AF4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FDAFAA84-04B8-4509-B8F2-A532439C08C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24BC098C-FDEB-4620-B336-50A8C6A944FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hilen</string>
	<key>description</key>
	<string>A QRcode generator with python-qrcode for Alfred Workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QR Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6A7CE8DC-FB3F-4D10-88CC-131ACF4AD8DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>'''
QRCode v1.2

Github: https://github.com/hilen/Alfred.QRCode
Author: Hilen
'''
python ./qr_code.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24BC098C-FDEB-4620-B336-50A8C6A944FE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your QR code is ok.</string>
				<key>title</key>
				<string>Alfred QR code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5B62777C-3A5C-4C54-9A04-B18D74466990</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>qr</string>
				<key>subtext</key>
				<string>Input your text to generate the QR code</string>
				<key>text</key>
				<string>Generate QR Code</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FDAFAA84-04B8-4509-B8F2-A532439C08C2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>'''
QRCode v1.2

Github: https://github.com/hilen/Alfred.QRCode
Author: Hilen
'''

#!/bin/sh
qrcode_folder="${TMPDIR}alfred_qr_code"
echo $qrcode_folder
if [ ! -d ${qrcode_folder} ]; then
    mkdir ${qrcode_folder}
fi

cmd="open $qrcode_folder"
eval $cmd
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2EE32C0F-DA76-44EF-81A0-4D3645A3AF4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qrfolder</string>
				<key>subtext</key>
				<string>Select to open it now.</string>
				<key>text</key>
				<string>Open QR code folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72BEA7C5-CF4F-4FDD-BD50-AE8AF221E993</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Install Python library:
	1.Install image library pillow by : sudo pip install pillow
	2.Install python-qrcode by : sudo easy_install qrcode


Usage:
	1.Type “qr text”;
	2.Define a hotkey, select some text, press the hotkey
	3.Type “qrfolder” to open the QR code image folder.</string>
	<key>uidata</key>
	<dict>
		<key>24BC098C-FDEB-4620-B336-50A8C6A944FE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2EE32C0F-DA76-44EF-81A0-4D3645A3AF4F</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5B62777C-3A5C-4C54-9A04-B18D74466990</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6A7CE8DC-FB3F-4D10-88CC-131ACF4AD8DF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>72BEA7C5-CF4F-4FDD-BD50-AE8AF221E993</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>FDAFAA84-04B8-4509-B8F2-A532439C08C2</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/hilen/Alfred.QRCode</string>
</dict>
</plist>
